aws_region  = "us-east-1"
environment = "prod"

vpc_cidr = "10.20.0.0/16"

availability_zones = [
  "us-east-1a",
  "us-east-1b"
]

public_subnet_cidrs = [
  "10.20.1.0/24",
  "10.20.2.0/24"
]

private_subnet_cidrs = [
  "10.20.11.0/24",
  "10.20.12.0/24"
]

ecs_desired_count = 2

rds_instance_class          = "db.t3.small"
rds_allocated_storage       = 50
rds_backup_retention_period = 7
rds_deletion_protection     = true

db_name     = "hotel_booking"
db_username = "postgres"
db_password = "dummy-password-for-plan-only"