aws_region  = "us-east-1"
environment = "dev"

vpc_cidr = "10.10.0.0/16"

availability_zones = [
  "us-east-1a",
  "us-east-1b"
]

public_subnet_cidrs = [
  "10.10.1.0/24",
  "10.10.2.0/24"
]

private_subnet_cidrs = [
  "10.10.11.0/24",
  "10.10.12.0/24"
]

ecs_desired_count = 1

rds_instance_class           = "db.t3.micro"
rds_allocated_storage        = 20
rds_backup_retention_period  = 1
rds_deletion_protection      = false

db_name     = "hotel_booking"
db_username = "postgres"
db_password = "dummy-password-for-plan-only"